doctype html
html(lang="zh")
  head
    base(href='/')
    link(href='css/main.css',rel='stylesheet')
    title 点滴日记
  body
    app
    script(src="scripts/vendor.bundle.js")
    script(src="scripts/main.js")
